* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

#img {
  width: auto;
  max-width: 400px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 40%;
  font-size: 2rem;
}

li:hover {
  font-size: 2.5rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 30px;
}

.email {
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
}

.email {
  width: 60%;
  margin: 0 auto;
  padding: 5px;
}

.btn {
  width: 40%;
  margin: 10px auto;
}

.icon {
  width: 10%;
  color: orange;
}

.features {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.hero {
  width: 50%;
  font-size: 1.5rem;
}
